@charset "UTF-8";

 * { 
    margin: 0;
    padding: 0;
 }
html, body {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background-color: #f5f8faf0;
    color: #080808;
    display: flex;
    flex-direction: column;


}
div {
    width: 100%;
}
#menu {
    color: #f0f8ff;
    margin: auto;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 10px 0;
    z-index: 1000; /* Mantém o menu acima do restante do conteúdo */
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    background-color: #020202;
    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    box-shadow: 5px 5px 5px #808080d3;
    text-align: center;

}
ul {
    margin:auto;
    display: flex;
    text-align: center;
    align-items: baseline;
}
li {
    margin: auto;
    padding: 10px;
    list-style: none;
    font-weight: bolder;
}
a {
    color: #f0f8ff;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

h1 {
    margin: auto;
    margin-top:0px ;
    margin-bottom: 600px; /* Adiciona um espaço entre o título e o texto */
    padding: 10px;
    display: flex;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
    font-style: italic;
    align-items: center;
    text-align: left; /* Alinha o título ao lado do texto */
    
}

#sobre-mim {
    margin: auto;
    margin-top: 120px;
    margin-left: 200px;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: row; /* Alinha elementos lado a lado */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Ajusta o espaço entre o texto e a imagem */
    
}
.conteudo {
    margin: auto;
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    font-style: italic;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 5px 5px 5px #808080d3;

}
p {
    flex: 1;
    font-style: italic;
    font-size: 1.0em;
}

img {
    margin-left: 20px; /* Espaçamento entre o texto e a imagem */

}
#img.hidden {
    opacity: 0;
    pointer-events: none;
}

#img > img {
    margin: auto;
    width: 230px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 5px #808080d3;
    transition: opacity 0.3s ease-in-out;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
}
footer > #img-contato {
    margin-top: 15px;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; /* Espaço entre os ícones */
    text-align: center; /* Centraliza a imagem e os ícones */
    position: relative;

}
footer {
    margin-top: auto;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding: 15px 0;
    bottom: 0px;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; /* Espaço entre os ícones */
    text-align: center; /* Centraliza a imagem e os ícones */
    position: fixed;
    background-color: #020202;
    box-shadow: 5px 5px 5px #808080d3;
}
#img-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espasamento entre as imagens */
}

#img-contato img{
    width: 40px;
    height: auto;
}